


.category-navbar {
    background-color: white;
    ul{
        display: flex; /* アイテムを横並びにする */
        justify-content: center; /* 中央揃え */
        li{
            font-size: 13px; /* フォントサイズ */
            a{
                display: block; /* リンクをブロック要素に */
                color:#294C7A; /* リンクのテキスト色 */
                text-align: center;
                padding: 14px 10px; /* リンクのパディング */


                &.category-navbar--active {
                    font-weight: bold; /* アクティブなリンクのテキストを太字に */
                }

                &:hover {
                    font-weight: bold; /* ホバー時の背景色 */
                }

            }
        }
    }
}


