.main-container{
    width: 1127px;
    height: 803.35px;
    background-color: #d6b6b6;
    margin: 0 auto;
    display: flex;

    .new-release-container{
        /* background-color: #f8f8f8; */
        display: flex;

    }

}