.ranking-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px; /* カード間の隙間 */
    background-color: #f8f8f8;
    /* justify-items: center; */
    justify-content: center; /* 子要素を両端に配置 */

    .card{
        width: 230px;
        height: auto;
      }
      .card__imgframe{
        width: 100%;
        height: auto;
        padding-top: 56.25%;
        /* background: file(images/search-icon.png) no-repeat center; */
        background: url(https://placehold.jp/180x100.png) no-repeat center;
        background-size: cover;
        box-sizing: border-box;
      }
      .card__textbox{
        width: 100%;
        height: auto;
        padding: 20px 18px;
        background: #ffffff;
        box-sizing: border-box;
      }
      .card__textbox > * + *{
        margin-top: 10px;
      }
      .card__titletext{
        font-size: 15px;
        line-height: 125%;
      }
      .card__overviewtext{
        font-size: 12px;
        line-height: 150%;
      }

}
